amqp==5.0.9
APScheduler==3.6.3
asgiref==3.4.1
backports.zoneinfo==0.2.1
billiard==3.6.4.0
boto3==1.20.40
botocore==1.23.40
cachetools==4.2.2
celery==5.2.3
certifi==2021.10.8
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
Deprecated==1.2.13
Django==4.0.2
django-celery-results==2.2.0
django-colorful==1.3
django-cors-headers==3.11.0
django-raster==0.8.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
GDAL @ file:///D:/Work/_new_features/forecast/app_drf/GDAL-3.3.1-cp38-cp38-win_amd64.whl
jmespath==0.10.0
kombu==5.2.3
numpy==1.22.1
packaging==21.3
Pillow==9.0.0
prompt-toolkit==3.0.24
psycopg2==2.9.3
pyaes==1.6.1
pyasn1==0.4.8
PyJWT==2.3.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-telegram-bot==13.11
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
redis==4.1.2
rsa==4.8
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
Telethon==1.24.0
tornado==6.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
wrapt==1.13.3
